{% extends "food/base.html" %}
{% block body %}
    <div class="container">
        {% for item in list_of_items %}
        <div class="row my-3">
            <div class="col-md-3 offset-md-2">
                <img class="card" height="150px" src="{{ item.item_image }}" alt="{{ item.item_name }}"/>
            </div>
            <div class="col-md-4">
                <h3>{{ item.item_name }}</h3>
                <p>{{ item.item_desc }}</p>
                <p>Price: ${{ item.item_price }}</p>
            </div>
            <div class="col-md-2">
                <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
            </div>
        </div>
        <ul>
            <li>
                <a href="">{{ item.id }} -- {{ item.item_name }}</a>
            </li>
        </ul>
        {% endfor %}
    </div>
{% endblock %}
